@model PYPProfileDotNet.Models.FriendResult

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Friend</legend>

        @Html.HiddenFor(model => model.friendName)
        @Html.HiddenFor(model => model.userName)

        <div class="editor-label"> 
            User: @{if (Model.friendName == (string)ViewBag.name)
                    {
                        @Html.Label(Model.userName);
                    }
                    else
                    {
                        @Html.Label(Model.friendName);
                    }
                  }
        </div>

        <div class="editor-field">
            Status:  <select id="friendStatusId" name="friendStatusId">
                @foreach ( PYPProfileDotNet.Models.FriendStatus stat in @ViewBag.statTypes ) {
                    if (stat.StatusId == @ViewBag.StatusId)
                    {
                        <option value="@stat.StatusId" selected="selected">@stat.Status</option>
                    }
                    else { 
                        <option value="@stat.StatusId" 
                            @(( (stat.Status==ViewBag.accepted.Status||stat.Status==ViewBag.declined.Status)
                                &&(  Model.userName==(string)ViewBag.name) 
                                ||( (ViewBag.StatusId==ViewBag.declined.StatusId)
                                    &&(stat.StatusId==ViewBag.accepted.StatusId || stat.StatusId==ViewBag.defriended.StatusId) )
                                ||( (ViewBag.StatusId==ViewBag.accepted.StatusId)
                                    &&(stat.StatusId==ViewBag.requested.StatusId || stat.StatusId==ViewBag.declined.StatusId) )
                                
                                )?"disabled=disabled":""
                            )>@stat.Status</option>
                    }
                }
            </select >
            @Html.ValidationMessageFor(model => model.friendStatusId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
