@model IEnumerable<PYPProfileDotNet.Models.FriendResult>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Friend", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.friendName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.friendStatus)
        </th>
    </tr>



@foreach (var item in Model) {
    <tr>
        <td>
            @{  //if curUser is the friendName, display user1 instead
                if (item.friendName != (string)ViewBag.name)
                {
                    
                    @Html.Label(""+item.friendName);
                }
                else
                {
                    
                    @Html.Label(""+item.userName);
                }
            }
        </td>
        <td>
            @Html.Hidden(item.friendStatus)
            @Html.Display(item.friendStatus)
            @Html.DisplayFor(modelItem => item.friendStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
