@model PYPProfileDotNet.Models.History

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>History</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.game_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.game_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.score)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.score)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
