@model PYPProfileDotNet.Models.History

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>History</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Game)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Game.GameId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Score)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Score)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
