@model IEnumerable<PYPProfileDotNet.Models.Leaderboard>

@{
    ViewBag.Title = "Leaderboard";
}

<h1>Leaderboard</h1>
<br />

<script src="~/Scripts/jquery-2.0.0.js" type="text/javascript"></script>

<select id="game-select">
    @foreach ( var game in @ViewBag.Games ) {
        if ( game.GameId == @ViewBag.GameId ) {
            <option value="@game.GameId" selected="selected">@game.Name</option>
        }
        else {
            <option value="@game.GameId">@game.Name</option>
        }
    }
</select>

<br /><br />

<table>
    <tr>
        <th>Player</th>
        <th>Score</th>
    </tr>
    @foreach ( var record in Model )
    {
        <tr class="tabledata">
            <td class="player">@Html.ActionLink(record.User.UserName, "../Profile/RecentGames/", new { user_id = record.User.UserId } )</td>
            <td class="score">@record.Score</td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#game-select').change(function () {
            var selection = $('select option:selected').val();
            window.location = '?game_id=' + selection;
        });
    });
</script>