@model IEnumerable<PYPProfileDotNet.Models.Leaderboard>

@{
    ViewBag.Title = "Leaderboard";
}

<script type="text/javascript">
    function selectGame() {
        var selection = document.getElementById("game-select");
        window.location = '?game_id=' + selection.value + '&filter=' + '@ViewBag.Filter';
    }
</script>

<h1>Leaderboard</h1>
<h3 id="filter">@ViewBag.Filter</h3>
<br />

<select id="game-select" onchange="selectGame()">
    @foreach ( var game in @ViewBag.Games ) {
        if ( game.GameId == @ViewBag.GameId ) {
            <option value="@game.GameId" selected="selected">@game.Name</option>
        }
        else {
            <option value="@game.GameId">@game.Name</option>
        }
    }
</select>

<br /><br />

<table>
    <tr>
        <th>Player</th>
        <th>Score</th>
    </tr>
    @foreach ( var record in Model )
    {
        <tr class="tabledata">
            <td class="player">@Html.ActionLink(record.User.Name, "RecentGames", "Account", new { user_id = record.User.UserId }, null) @*@Html.ActionLink(record.User.UserName, "../Profile/RecentGames/", new { user_id = record.User.UserId } )*@</td>
            <td class="score">@record.Score</td>
        </tr>
    }
</table>


@if (!ViewBag.isAuthenticated)
{
    <p>Friends | <strong>Global</strong></p>
}
else if ( ViewBag.Filter.Equals("Global") )
{
    <p>@Html.ActionLink("Friends", "Index", new { game_id = ViewBag.GameId, filter = "Friends" }) | <strong>Global</strong></p>
}
else
{
    <p><strong>Friends</strong> | @Html.ActionLink("Global", "Index", new { game_id = ViewBag.GameId, filter = "Global" })</p>
}