@model IEnumerable<SelectListItem>

@{
    ViewBag.Title = "Horse";
}

@using (Html.BeginForm())
{
    <fieldset>
        <ol>
            <li>
                @Html.Label("bet", "Bet")
                @Html.TextBox("bet")
            </li>
            <li>
                @Html.Label("suit", "Suit")
                @Html.DropDownList("suit", Model)
            </li>
        </ol>

        @Html.Hidden("name", User.Identity.Name)
        <input type="submit" onclick="this.form.action = @ViewBag.FormAction" value="Join" />
    </fieldset>
}

