@model PYPProfileDotNet.Models.ChangePassword

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.CurrentPassword)
                @Html.PasswordFor(m => m.CurrentPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPasswordConfirmation)
                @Html.PasswordFor(m => m.NewPasswordConfirmation)
                @Html.ValidationMessageFor(m => m.NewPasswordConfirmation)
            </li>
        </ol>
    </fieldset>
    <input type="submit" value="Save" /> <input type="button" class="reset" value="reset" />
}