@section themes {
    @Styles.Render("~/Content/themes/base/css")
}

<h2>Manage Account</h2>
<div id="forms">
    <ol>
        <li><a href="#editAccount">Account Overview</a></li>
        <li><a href="#changePassword">Change Password</a></li>
    </ol>
    <div id="editAccount">@Html.Action("AccountDetails")</div>
    <div id="changePassword">@Html.Action("ChangePassword")</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/pyp")
    <script>
        $(document).ready(function () {
            $('#forms').tabs();
            $('#edit').click(enableReadonlyInputs);
            $('.reset').click(resetForm);
        });
    </script>
}
